.block {
  display: block;
}
.flex {
  display: flex !important;
}
.grid {
  display: grid;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.openSidebar {
  margin-left: 0;
}

label.mat-form-field-label.ng-tns-c10-0.mat-empty.mat-form-field-empty.ng-star-inserted {
  opacity: 1;
  transition: 0.3s;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  opacity: 0 !important;
}

.mat-select-panel {
  background-color: $white;

  * {
    color: $green;
  }
}
.hide-desktop {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}

.hide-mobile {
  display: block;
  @media (max-width: 800px) {
    display: none;
  }
}
