<div class="container-tool shadow-1">
    <div class="blue-section">
        <app-select-service-user></app-select-service-user>
    </div>
    <div class="container-origin">
        <app-quick-select-favorite [point]="1" [selected]="none"></app-quick-select-favorite>
        <div class="container-input">
            <app-input-map [point]="1"></app-input-map>
        </div>
        <app-favorite-list></app-favorite-list>
        <div class="container-next-step shadow">
            <button mat-button color="accent" routerLink="/pedir-aguila/destino">
                <i class="material-icons">keyboard_arrow_rights</i>
            </button>
        </div>
    </div>
    <!-- <div class="container-origin">
        <app-quick-select-favorite></app-quick-select-favorite>
        <div class="container-input">
            <app-input-map></app-input-map>
        </div>
        <app-favorite-list></app-favorite-list>
        <div class="container-next-step shadow">
            <button mat-button color="accent">
                Finalizar
            </button>
        </div>
    </div> -->
</div>