<div class="container-tool shadow-1">
    <div class="blue-section">
        <div class="container-client shadow-1">
            <div class="container-buttons">
                <div class="grid">
                    <button mat-icon-button color="accent">
                        <i class="material-icons">person</i>
                    </button>
                    <span>Para mí</span>
                </div>
                <div class="grid">
                    <button mat-icon-button color="accent">
                        <i class="material-icons">people_alt</i>
                    </button>
                    <span>Colega</span>
                </div>
                <div class="grid">
                    <button mat-icon-button color="accent">
                        <i class="material-icons">person_add</i>
                    </button>
                    <span>Invitado</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-origin">
        <div class="favorite-origins">
            <div class="selected-origin">
                <div class="step-indicator">1</div>
                Origen
            </div>
            <div class="favorite-places">
                <div class="step-indicator">2</div>
                <div class="step-indicator">3</div>
                <div class="step-indicator">4</div>
                <div class="step-indicator">5</div>
            </div>
        </div>
        <div class="container-input">
            <input type="text" placeholder="Donde te recogemos?">
        </div>
        <div class="favorite-list">
            <p class="favorite-title">Favoritos</p>
            <ul>
                <li>
                    <i class="material-icons">star_border</i>
                    <div class="grid">
                        <span class="title">address title</span>
                        <span class="address">complete address</span>
                    </div>
                </li>
                <li>
                    <i class="material-icons">star_border</i>
                    <div class="grid">
                        <span class="title">address title</span>
                        <span class="address">complete address</span>
                    </div>
                </li>
                <li>
                    <i class="material-icons">star_border</i>
                    <div class="grid">
                        <span class="title">address title</span>
                        <span class="address">complete address</span>
                    </div>
                </li>
                <li>
                    <i class="material-icons">star_border</i>
                    <div class="grid">
                        <span class="title">address title</span>
                        <span class="address">complete address</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-next-step shadow">
            <button mat-button color="accent">
                <i class="material-icons">keyboard_arrow_rights</i>
            </button>
        </div>
    </div>
</div>