// COLORS

$white: white;
$light-grey: #eef1f7;
$grey: #c3c3c3;
$dark-grey: grey;
$black: black;
$light-green: #e1fcf5;
$green: #51e8c2;
$dark-green: #00d998;
$blue: #6a82a3;
$light-yellow: #fff4c0;
$yellow: #ddb723;

// FONTS
$large: 18px;
$medium: 15px;
$small: 12px;
