.container-sidebar {
  background-color: $white;
  position: absolute;
  width: 230px;
  height: 100%;
  overflow: auto;
  top: 0;
  transition: .3s;
  z-index: 2;

  @media (max-width: 800px) {
    margin-left: -230px;
  }
}

.logo {
  height: 60px;
  background-image: url("/assets/images/logo.png");
  background-size: 130px;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.container-logo {
  width: 120px;
  height: 170px;
  text-align: center;
  border-bottom: 2px solid $light-grey;
  margin: 0 auto;

  .user-image {
    background-image: url("/assets/images/user.png");
    height: 100px;
    background-position: center;
    background-size: 130px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  .username {
    font-size: 15px;
    color: $dark-grey;
    margin-bottom: 5px;
  }

  .user-position {
    font-size: 12px;
    color: $grey;
  }
}

.container-map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.container-tool {
  position: absolute;
  width: 300px;
  height: calc(100% - 40px);
  top: 20px;
  background-color: $white;
  margin-left: 250px;
  overflow: auto;
  border-radius: 3px;

  @media (max-width: 800px) {
    width: calc(100% - 40px);
    left: 20px;
    top: 20px;
    margin-left: 0;

    .blue-section .container-client {
      width: calc(100% - 40px) !important;
    }
  }

  .blue-section {
    background-color: $blue;
    height: 60px;
    padding-top: 1px;

    .container-client {
      background-color: $white;
      width: 260px;
      height: 70px;
      margin-left: 20px;
      border-radius: 3px;
      margin-top: 25px;
      display: block;
      padding-top: 10px;

      .container-buttons {
        display: flex;
        justify-content: space-around;

        button {
          border: 1px solid $grey;

          i {
            vertical-align: sub;
            color: $grey;
          }
        }

        span {
          font-size: 11px;
          margin-top: 5px;
          color: $grey;
        }
      }
    }
  }
}

.container-origin {
  margin-top: 50px;
}

.container-input {
  background-color: $light-green;
  height: 70px;
  background-image: url('assets/images/pin.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 40px;

  div {
    width: calc(100% - 60px);
    height: 25px;
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    text-indent: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $grey;
    font-size: 15px;
    color: $dark-grey;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.container-routes {
  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 10px 0 10px 20px;
      list-style: none;
      height: 50px;
      font-size: 12px;
      color: $dark-grey;
      border-bottom: 1px solid $light-grey;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: $light-grey;
      }

      div i {
        display: inline-flex;
        vertical-align: bottom;
      }

      div.origin {
        i {
          color: $green;
        }
      }

      div.destination {
        i {
          color: $blue;
        }
      }
    }
  }
}

.container-title {
  background-color: $green;
  padding: 20px;
  font-size: 15px;
  color: $white;
}