.container-sidebar {
  position: absolute;
  width: 230px;
  height: 100%;
  overflow: auto;
}
.logo {
  height: 60px;
  background-image: url("/assets/images/logo.png");
  background-size: 130px;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.container-logo {
  width: 120px;
  height: 170px;
  text-align: center;
  border-bottom: 2px solid $light-grey;
  margin: 0 auto;
  .user-image {
    background-image: url("/assets/images/user.png");
    height: 100px;
    background-position: center;
    background-size: 130px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  .username {
    font-size: 15px;
    color: $dark-grey;
    margin-bottom: 5px;
  }
  .user-position {
    font-size: 12px;
    color: $grey;
  }
}
