<div class="favorite-list">
    <p class="favorite-title">Favoritos</p>
    <ul>
        <li>
            <i class="material-icons">star_border</i>
            <div class="grid">
                <span class="title">address title</span>
                <span class="address">complete address</span>
            </div>
        </li>
        <li>
            <i class="material-icons">star_border</i>
            <div class="grid">
                <span class="title">address title</span>
                <span class="address">complete address</span>
            </div>
        </li>
        <li>
            <i class="material-icons">star_border</i>
            <div class="grid">
                <span class="title">address title</span>
                <span class="address">complete address</span>
            </div>
        </li>
        <li>
            <i class="material-icons">star_border</i>
            <div class="grid">
                <span class="title">address title</span>
                <span class="address">complete address</span>
            </div>
        </li>
    </ul>
</div>