<agm-map class="container-map" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [label]="'1'" [markerDraggable]="true" [latitude]="lat1" [longitude]="lng1"></agm-marker>
    <!-- <agm-marker *ngIf="locationChoosen2" [label]="'2'" [markerDraggable]="true" [latitude]="lat2" [longitude]="lng2"></agm-marker>
    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle> -->
</agm-map>