<div class="container-sidebar shadow-1">
    <div class="logo"></div>
    <div class="container-logo">
        <div class="user">
            <div class="user-image"></div>
            <div class="username">Jorge Solano</div>
            <div class="user-position">Beneficiario</div>
        </div>

    </div>
    <ul class="menu-options">
        <li><i class="material-icons">directions_car</i>Pedir Aguila</li>
        <li><i class="material-icons">flight</i>Vuelos</li>
        <li><i class="material-icons">timeline</i>Rutas</li>
        <li><i class="material-icons">chrome_reader_mode</i>Administrar</li>
        <li><i class="material-icons">trending_up</i>Estadisticas</li>
        <li><i class="material-icons">credit_card</i>Medios de Pago</li>
        <li><i class="material-icons">power_settings_new</i>Cerrar sesión</li>
    </ul>
</div>