<div class="container-sidebar shadow-1">
    <div class="logo" routerLink="/"></div>
    <div class="container-logo">
        <div class="user">
            <div class="user-image"></div>
            <div class="username">Jorge Solano</div>
            <div class="user-position">Beneficiario</div>
        </div>

    </div>
    <ul class="menu-options">
        <li *ngFor="let option of options" routerLinkActive="active" [routerLink]="option.route">
            <i class="material-icons">{{ option.icon }}</i>
            <span>{{option.title}}</span>
        </li>
    </ul>
</div>