/* You can add global styles to this file, and also import other style files */
* {
  &:focus {
    outline: none;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// BASE
@import "scss/base/variables";

// BLOCKS
@import "scss/blocks/containers";

// ELEMENTS
@import "scss/elements/lists";
@import "scss/elements/menu";
@import "scss/elements/steps";

// MODIFIERS
@import "scss/modifiers/modifiers";
@import "scss/modifiers/paddings";
@import "scss/modifiers/shadows";
