.container-next-step {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: $white;
  position: fixed;
  bottom: 20px;
  border-radius: 3px;
  width: 260px;

  @media (max-width: 800px) {
    width: calc(100% - 80px);
  }

  button {
    text-align: center;
    background-color: $white;
    color: $dark-green !important;
  }
}

.step-indicator {
  border-radius: 50%;
  border: 1px solid $green;
  text-align: center;
  color: $green;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.favorite-places {
  display: flex;
  justify-content: space-around;

  .step-indicator {
    color: $grey;
    border: 1px solid $grey;
    transition: 0.3s;
    background-color: $light-grey;
  }
}
